.notification {
  padding: 8px;
  border-radius: 8px;
  color: rgb(247, 106, 50);
  box-shadow: inset 0 2px 12px 4px rgb(247, 106, 50);
  max-width: 320px;
  margin: 20px auto;
  background-color: #111;
}
